.container {
    /* position: fixed;
    width: 95%;
    z-index: 999;
    top:0; */
    display: flex;
    background-color: #00A79D;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    color: #000;
    padding:20px;
}

.links {
    display: flex;
    align-items: center;
    gap: 25px;
    /* font-size: 20px; */
    color: #000;
    outline: none;
}

.link {
    font-size: 20px;
    outline: none;
    /* font-weight: 400; */
    /* font-weight: bold; */
}

.signup {
    width: 103px;
    display: flex;
    /* background-color: #00A79D; */
    height: 38px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    border-color: #fff;
    border: 1px solid white;
}
.mainbox{
    width: 510px;
    gap:5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);



}
.searchInput {
    width: 450px;
    height: 62px;
    flex-shrink: 0;
    align-items: center;
    
}
.container input{
    padding:10px;;
    border: none;
    font-size: 16px;
    outline: none;  
    color: #000;

}