
.Popular{
    /* width: fit-content; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-top: 10;
}

.popularContent {
    width:100pc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    color: #000;
  }
  .tagline, .viewAll{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
  .tagline span{
    font-size: 28px;
    font-weight: 600;
  }
  .viewAll span{
    font-size: 24px;
    color: #00A79D;
    cursor: pointer ;
  }
  .itemCard{
    width: 215px;
    height: 223px;
    border-radius: 15px;
    background-color: #000;
    overflow: hidden;
    position: relative;
  }
  .itemCard img {
    width: 100%;
    height: 100%;
    object-fit:cover; /* Adjust as needed: contain, cover, fill, none, scale-down, etc. */
    border-radius: 15px;  
}
.imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(158,66,249,0.5); /* Adjust the color and opacity as needed */
    opacity: 0.3px;  
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
      
}



.imageOverlay img {
    height: 20%;
    width: 20%;
    object-fit:contain;
    /* border-radius: 15px;   */
}